header {
  background: url(../img/1.jpg) center/cover;
  color:$white;
  border: 3px solid rgba(255, 0, 0, 0.607);
  text-align: center;
  nav {
    height: 12vh;
    display: grid;
    grid-template-columns: 10% 82% 8%;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    
    @media screen and (max-width: 680px) {
      grid-template-columns: 50% 10% 40%;
      

    }
    
    .logo {
      @include childCenter;
      font-family: $font1;
      font-weight: 100;
      font-size: 2rem;
      color: $color1;
      margin-left: 85px;
      margin-top: 17px;
      
      @media screen and (max-width: 700px) {
        margin-left: 200px;
      }
    }
    
    ul {
      @include alignChildren(space-evenly);
      text-transform: uppercase;
      font-size: 0.9rem;
      padding: 0 30px;
      margin-top: 19px;
      // cursor: pointer;
      
      @media screen and (max-width: 900px) {
        margin-left: 45px;
      }
      @media screen and (max-width: 800px) {
        margin-left: 65px;
      }
      @media screen and (max-width: 700px) {
        visibility: hidden;
      }
      
      li {
        transition: 0.2s;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    
    .nav-icons {
      @include alignChildren(space-around);
      font-size: 0.8rem;
      margin-top: 15px;
      
      @media screen and (max-width: 680px) {
        margin-left: 110px;
        letter-spacing: 10px;
      }
      
      i {
        transition: 0.2s;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .header-text {
    padding: 0 50px;
    @include childCenter;
    
    div {
      max-width: 1100px;
      margin: 0 auto;
      height: 44%;
      
      h2 {
        font-size: 3rem;
        letter-spacing: 10px;
        font-weight: 100;
        font-family: $font2;
        color: $color1;
      }
      h1 {
        font-size: 3.2rem;
        letter-spacing: 10px;
        font-family: $font2;
        font-weight: 700;
        margin-top: -5px;
      }
      img {
        height: 70px;
        margin: 32px 0;
        cursor: pointer;
        transition: 0.2s;


        &:hover {
          transform: scale(1.2);
        }
      }
      h6 {
        font-size: 0.75rem;
        letter-spacing: 6px;
        font-weight: 100;
        margin-bottom: 25px;
      }
    }
    }
    
    #side-bar {
    position: absolute;
    width: 230px;
    height: 100%;
    background: rgba(65, 53, 134, 0.806);
    top: 0;
    left: -230px;
    transition: 0.5s ease-out;
    z-index: 4;
  }
  .toggle-btn {
    position: absolute;
    top: 35px;
    left: 240px;
    cursor: pointer;
    height: 45px;
    width: 50px;
    
    @media screen and (max-height: 400px) {
      top: 45px;
    };
    
  }
  .toggle-btn span {
    @include childCenter;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background: #09fbbacc;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
  }
  
  #side-bar.active {
    left: 0;
  }
  .active span {
    position: absolute;
  }
  .active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .active span:nth-child(2) {
    opacity: 0;
  }
  .active span:nth-child(3) {
   transform: rotate(-45deg)
  }
  .active ~ .content {
    opacity: 0.3;
  }
}