h9 {
  border: 3px solid rgba(96, 227, 227, 0.719);
  height: 7vh;
  display: grid;
  align-items: center;
  align-content: space-around;
  color: $color1;
  margin: 25px auto;
  width: 85%;
  font-size: 3rem;
}  
// .bubble {
//   position: absolute;
//   border-radius: 300px;
//   background: rgba(255, 166, 0, 0.6);
//   opacity: 0;
//   animation: anim 8s forwards;
//   filter: hue-rotate(0deg);
// }
// @keyframes anim {
//   to  {
//     top: -500px;
//     left: var(--left);
//     opacity: 1;
//     filter: hue-rotate(720deg);
//   }
// }
section3 {
  text-align: center;
  .box3 {
    cursor: crosshair;
    min-height: 100vh;
    background: none;
    overflow: hidden;
    
  }
}